.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navbar-brand{
  color: #000 !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}


section {
  color: #392d2d;
  background-color: #fdfdfdb0;
  height: 100vh;  
}
.navBg {
  background-color: #f5f5f5;
}
.nav-link{
  color: #000 !important;
}

.container{
  width: 100% !important;
}
.account-letter{
  justify-content: left;
    margin-left: 15px;
    display: flex;
    color: black;
    font-weight: bold;
}
.contenedor-horizontal{
  width:100%;
  height:40px;
  display:flex;
  justify-content: space-between;
}
.contenido-horizontal{
  height:80px;
  width:30%;
  float:left;
}

.texto-time{
  color: gray;
}
.comments-letter{
  justify-content: left;
    margin-left: 15px;
    display: flex;
    color: gray;
}

@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 100% !important;
  }}
  @media (min-width: 992px){
  .navbar-expand-lg .navbar-toggler {
      display: block !important;
  }}